Button {
    text-decoration: none;
    max-width: auto;
    color: rgb(255 255 255);
    padding: 2px;
    border: none;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
