.footer {
    background-color: #f5f5f5;
    color: #000;
}
.sb_footer {
    display: flex;
    flex-direction: column;
}
.sb_footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}
.section_padding {
    padding: 4rem 4rem;
}
.sb_footer-links-div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.colorFooter {
    color: grey;
}
hr {
    color:  #a5a4a4 !important;
    margin-bottom: 20px;
    width: 100%;
}

.sb_footer-copyright p{
    font-size: 12px;
    line-height: 15px;
    color: #5f5f5f;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}
