
html {
    font-size: 90.5%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 0 4.8rem;
    height: 7rem;
}

.btn {
  max-width: 12rem;
}
.container {
  max-width: 100%;
  padding: 20px 20px;
  height: 460px;
  background: linear-gradient(90deg, rgb(1, 0, 6) 0%, rgba(9, 9, 121, 0.884));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
.section-hero-data {
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  font-size: 20px;
  color: #fff;
}
.Hero-content {
  color: white;
}
.hero-ajust {
  display: flex;
  flex-direction: column;
}
.img img {
  width: 300px;
  margin: auto;
  border-radius: 97px 4px 49px 6px;
  box-shadow: 0 0 17px #3729f0d0;
}

.box span {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 3%;
  left: 1%;
  background-color: transparent;
  border: 4px solid #fff;
  border-radius: 50%;
}
.box span:nth-child(1){
  top: 12%;
  left: 43%;
  animation: animate 27s linear infinite;
}
.box span:nth-child(2){
  top: 70%;
  left: 53%;
  animation: animate 7s linear infinite;
}
.box span:nth-child(3){
  top: 30%;
  left: 93%;
  animation: animate 10s linear infinite;
}
.box span:nth-child(4){
  top: 10%;
  left: 73%;
  animation: animate 5s linear infinite;
}
.box span:nth-child(5){
  top: 90%;
  left: 33%;
  animation: animate 22s linear infinite;
}
.box span:nth-child(6){
  top: 78%;
  left: 85%;
  animation: animate 19s linear infinite;
}
.box span:nth-child(7){
  top: 27%;
  left: 35%;
  animation: animate 29s linear infinite;
}
.box span:nth-child(8){
  top: 49%;
  left: 1%;
  animation: animate 14s linear infinite;
}
.box span:nth-child(9){
  top: 24%;
  left: 20%;
  animation: animate 3s linear infinite;
}
.box span:nth-child(10){
  top: 72%;
  left: 90%;
  animation: animate 6s linear infinite;
}

.box span:nth-child(12){
  top: 80%;
  left: 13%;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3) translateY(-9) rotate(360deg);
    opacity: 0;
  }
}
.Card {
  width: 100%;
  background-color: transparent;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 0 9px #0000001f;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  
}
.Card:hover {
  transform: translateY(5%);
  transition: all 0.5s ease;  
}
.Title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 17px;
}
.ContainerTech {
  width: 100%;
  padding: 1vw 20px;
  height: 468px;
}
.TitleTech {
  text-align: center;
  text-transform: uppercase;
}
.TechContect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.container-barra {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 50%;
  background-color: #d4d4d4;
  border-radius: 5px;
}

.barra-progresso1 {
  line-height: 8px;
  color: #fff;
  padding: 5px;
  height: 17px;
  width: 90%; /* Inicia com 0 */
  background-color: #3729f0d0;
  border-radius: 5px;
  transition: width 0.5s ease-out; /* Animação suave */
}
.barra-progresso2 {
  line-height: 8px;
  color: #fff;
  padding: 5px;
  height: 17px;
  width: 90%; /* Inicia com 0 */
  background-color: #3729f0d0;
  border-radius: 5px;
  transition: width 0.5s ease-out; /* Animação suave */
}
.barra-progresso3 {
  line-height: 8px;
  color: #fff;
  padding: 5px;
  height: 17px;
  width: 70%; /* Inicia com 0 */
  background-color: #3729f0d0;
  border-radius: 5px;
  transition: width 0.5s ease-out; /* Animação suave */
}
.barra-progresso4 {
  line-height: 8px;
  color: #fff;
  padding: 5px;
  height: 17px;
  width: 50%; /* Inicia com 0 */
  background-color: #3729f0d0;
  border-radius: 5px;
  transition: width 0.5s ease-out; /* Animação suave */
}

.porcentagem {
  text-align: center;
  margin-top: 5px;
}
.imagesTech {
  width: 50px;
  margin-top: 12px;
}

@media (max-width:762px) {
  .container  {
    display: flex;
    flex-direction: column;
  }
  .img img {
    width: 200px;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 530px;
  background: linear-gradient(90deg, rgb(1, 0, 6) 0%, rgba(9, 9, 121, 0.884));
}
form {
  max-width: 460px;
  width: 100%;
  background-color: #fff;
  padding: 25px 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 12px #3729f0d0;
  color: #333;
}
form .input-box {
  margin-top: 20px;
}
.input-box .field {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 13px;
  color: #333;
  margin-top: 5px;
}
.input-box .field.mess {
  height: 100px;
  resize: none;
}
form .btnSub {
  width: 100%;
  height: 40px;
  box-shadow: 0 0 14px #ddd9d959;
}

 